@import './variable.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--c-gray-1);
}

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  list-style-type: none;
}
